/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:  floralwhite;
}

p {
    margin: 10px 35px 10px 35px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 25px;
}

div {
    padding: 30px 30px 30px 30px;
}

img {
    vertical-align: middle;
    
}

.pageheader {
    padding: 0 0 0 0;
    width: 1200;
    position: relative;
}

.imageheader {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 1200;
    opacity: 0;
    transition: .5s ease;
    background-color: #b11a21;
}

.pageheader:hover .overlay {
    opacity: .75;
}

.textheader {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    color: white;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.bluebox {
    margin: 25px 400px 25px 0px;
    padding: 0px 0px 0px 0px;
    width: 60%;
    background-color: #7acfd6;
}

.redbox {
    margin: 25px 0px 25px 40%;
    padding: 0px 0px 0px 0px;
    width: 60%;
    background-color: #b11a21;
}

.hovercontainer {
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.hovertext {
    display: block;
    width: 100%;
    height: auto;
}

.hoveroverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: ;
    opacity: 1;
    transition: .5s ease;
    background-color: inherit;
    align-content: center;
}

.hovercontainer:hover .hoveroverlay {
    opacity: 0;
}

.hoveroverlaytext {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    color: white;
    font-size: 50px;
    line-height: 65px;
    position: relative;
    text-align: center;
}

.pagefooter {
    padding: 0 0 0 0;
    width: 100%;
    position: relative;
}

.imagefooter {
    display: block;
    width: 50%;
    height: auto;
}

.overlayfooter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #b11a21;
}

.pagefooter:hover .overlay {
    opacity: .75;
}

.textfooter {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin: 25px 25px 25px 25px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 46px;
    color: white;
    text-align: center;
}

h2 {
    margin: 25px 50px 25px 50px;  
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 34px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 36px;
}  
h3 { 
    margin: 50px 75px 25px 75px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    line-height: 26px; 
}  
h4 {
    margin: 50px 75px 25px 75px;  
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 22px; 
}  
h5 {
    margin: 25px 25px 25px 25px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    display: inline;
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal;           
    font-weight: bold; 
    line-height: 36px; 
    
}   
h6 { 
    margin: 5px 5px 5px 25px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    display: inline;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 20px;
    text-align: left; 
} 
blockquote { 
    margin: 25px 50px 25px 25px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
    color: white;
} 
pre { font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 15px; 
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    margin: 30px 0 10px 100px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 18px;
    line-height: 22px;
}

table {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: left;
    line-height: 40px;
    max-width: 1200px;
    margin: 50px 100px 50px 100px;
    padding: 10px 10px 10px 10px;
    table-layout: auto;
    background-color: white;
}
 
.smallTable {
    max-width: 500;
    margin: 40px 150px 30px 50px; 
    padding: 5px 5px 5px 5px;
    line-height: 25px;
    font-size: 16px;
}

thead {
    background: #7acfd6;
    color: #ffffff;
    border: none;
    font-size: 22px;
}
  
td:first-child {
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-weight: bold;
}
  
th {
    line-height: 80px;
    font-weight: bold;
    text-align: center;
}     
  
thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}
  
tbody tr:last-child td {
    border: none;
}
  
  tbody td {
    border-bottom: 1px solid #ddd;
    text-align: center
  }
  
  td:last-child {
    padding-right: 10px;
  }

  .col-I {
      width: 28%;
  }

  .col-II {
      width: 3%;
      text-align: left;
  }

  .col-III {
      width: 23%;
  }

  .col-IV {
      width: 23%;
  }

  .col-V {
      width: 23%;
  }
  
  footer {
      padding: 50px 25px 25px 50px;
      border-top: 2px solid #ddd;
      max-width: 1200;

  }

  .footer {
      display: inline;
      text-align: right;
      padding-left: 50%;
  }